<a href="https://colab.research.google.com/github/senandungarimbichh/Praktikum-Alpro/blob/main/Week_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Use the range
range(3)

range(0, 3)

In [ ]:
# For loop example

dates = [2001,2002,2003]
N = 2

for i in range(N):
    print(dates[i])

2001
2002

In [ ]:
# While Loop Example

dates = [3, 6, 9, 12, 15, 18]

i = 0
year = 0

while(year != 6):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

3
6
It took  2 repetitions to get out of loop.

In [ ]:
#Nested Loop Example

for i in range(0, 5):
    for j in range(0, 5):
        print(i * j, end=' ')
    print("", "\n")

0 0 0 0 0

0 1 2 3 4

0 2 4 6 8

0 3 6 9 12

0 4 8 12 16

In [ ]:
names = ['kiss', 'kopiko', 'sugus']
# outer loop
for name in names:
    # inner while loop
    count = 0
    while count < 3:
        print(name, end=' ')
        # increment counter
        count = count + 1
    print()

kiss kiss kiss
kopiko kopiko kopiko
sugus sugus sugus

In [ ]:
i = 1
while(i <= 10) :
    bintang = ""
j = 10
k = 4
while (j >= i) :
    bintang += " "
j -= 1
while (k <= 1) :
    bintang += "*_"
k += 1
bintang += "*"
print (bintang)
i += 1

In [ ]:
i = 1
while(i <= 10) :
    bintang = ""
j = 10
k = 4
while (j >= i) :
    bintang += " "
j -= 1
while (k <= 1) :
    bintang += "*_"
k += 1
bintang += "*"
print (bintang)
i += 1

In [ ]:
for i in range(-3,5):
  print(i)

-3
-2
-1
0
1
2
3
4

In [ ]:
for year in dates:
  print(year)

2001
2002
2003

In [ ]:
#Weekly Exercise 1

print("cetak pola segitiga bintang")
N = int(input("Masukkan jumlah baris: "))

for i in range(N):
  print(' ' * (N - i - 1) + '* ' * (i + 1))

cetak pola segitiga bintang
Masukkan jumlah baris: 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [ ]:
N = int(input('jumlah baris segitiga pascal = '))

for i in range(1, N + 1):

    for j in range(0, N - i + 1):
      print(" ", end="")
    a = 1
    for j in range(1, i+1):
      print(' ', a, sep='', end='')
    a = a * (i - j) // j
    print()

jumlah baris segitiga pascal = 6
       1
      1 1
     1 1 1
    1 1 1 1
   1 1 1 1 1
  1 1 1 1 1 1

In [ ]:
#Weekly Exercise 2

N = int(input('Masukkan jumlah baris= '))
for i in range(N):
  print(' ' * (N - i - 1), end=' ')
  a = 1
  for j in range(i + 1):
    print(a, end=' ')
    a = a * (i - j) // (j + 1)
  print()

In [ ]:
#Weekly Exercise 3

N = int(input("Baris ke = "))
N = N - 1
a = 1
jumlah = 0

for j in range(N + 1):
    print(a, end=" ")
    jumlah += a
    a = a * (N - j) // (j + 1)
print(f"\nhasil jumlah angka di baris ke", N + 1, "adalah", jumlah)

Baris ke = 4
1 3 3 1
hasil jumlah angka di baris ke 4 adalah 8