<a href="https://colab.research.google.com/github/senandungarimbichh/Praktikum-Alpro/blob/main/Week_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  # Integer
11

11

In [ ]:
# Float
2.14

2.14

In [ ]:
# string

#print("Hello, guyss!")
#print("Hello, guyss")

"Hello, guyss!"
#"Hello, guyss!"

'Hello, guyss!'

In [ ]:
# Type of 12
type(12)

int

In [ ]:
# Type of 2.14
type(2.14)

float

In [ ]:
# Type of "Hello, guyss!"
type("Hello, guyss!")

str

In [ ]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

In [ ]:
# Print the type of -1
type(-1)

int

In [ ]:
type (-6)

int

In [ ]:
# Print the type of 4
type(4)

int

In [ ]:
# Print the type of 0
type (0)

int

In [ ]:
# Print the type of 0
type(0)

int

In [ ]:
# Print the type of 1.0
type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [ ]:
# Print the type of 0.5
type(0.5)

float

In [ ]:
# Print the type of 0.56
type

type

In [ ]:
# WEEKLY EXERCISE 1
# Menghitung keliling, luas, dan volume
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2 * (panjang + lebar)
luas = panjang * lebar
volume = panjang * lebar * tinggi

print("Panjang = " , panjang)
print("Lebar = " , lebar)
print("Tinggi = " , tinggi)
print("Keliling =" , keliling)
print("Volume =" , volume)

Panjang =  20.5
Lebar =  25
Tinggi =  10
Keliling = 91.0
Volume = 5125.0

In [ ]:
# data mahasiswa
Nama =  {'Shafira': [85,75],
 'Amanda': [80,90],
  'Aditya': [75,80],
  'Nedia': [95,80],
  'Widya': [85,85],
  'Hanif': [75,90],
  'Andi': [70,75],
  'Dhanar': [85,85],
  'Hikma': [80,75]
 }

# 1. Rata-rata nilai Shafira pada kedua mata kuliah
Nilai_Rata_rata_Shafira = ((85 + 75)/2)
print(Nilai_Rata_rata_Shafira)

# 2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah
Jumlah_nilai_Hanif_dan_Andi = ((75 + 90 + 70 + 75))
print(Jumlah_nilai_Hanif_dan_Andi)

# 3. Rata_rata nilai Widya, Dhanar, Hikma dan Nedia pada masing_masing mata kuliah
Nilai_Ratarata_Widya = ((85 + 85)/2)
Nilai_Ratarata_Dhanar = ((85 + 85)/2)
Nilai_Ratarata_Hikma = ((80 + 75)/2)
Nilai_Ratarata_Nedia = ((95 + 80)/2)

print(Nilai_Ratarata_Widya)
print(Nilai_Ratarata_Dhanar)
print(Nilai_Ratarata_Hikma)
print(Nilai_Ratarata_Nedia)

# 4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa
Nilai_Ratarata_Kalkulus1_semuamahasiswa = ((85 + 80 + 75 + 95 + 85 + 75 + 70 + 85 + 80)/9)
print(Nilai_Ratarata_Kalkulus1_semuamahasiswa)

# 5. Rata-rata nilai mata kuliah metode Statistika untuk semua mahasiswa
Nilai_Ratarata_Statistika_semuamahasiswa = ((75 + 90 + 80 + 80 + 85 + 90 + 75 + 85 + 75)/9)
print(Nilai_Ratarata_Statistika_semuamahasiswa)

80.0
310
85.0
85.0
77.5
87.5
81.11111111111111
81.66666666666667

In [ ]:
# Gaji pokok perjam
gaji_perjam = 30000

# Jam kerja perhari
jam_kerja_perhari = 8

# Jumlah hari kerja bulan Agustus (22 hari) weekend libur
hari_kerja_sebulan = 22

# Hari izin Dwi di bulan Agustus
hari_izin_Dwi = 3 # tidak masuk kerja 3 hari dalam sebulan

# Tunjangan karyawan yang bekerja lebih dari 5 tahun
tunjangan_karyawan_5tahun = 0.10 #10%

# Gaji lembur perjam
gaji_lembur_perjam = 10000

# lembur Agustus
lembur_agustus = 5

gaji_Dwi_perhari = jam_kerja_perhari * gaji_perjam
gaji_awal_Dwi_Agustus = gaji_Dwi_perhari * hari_kerja_sebulan
gaji_akhir_Dwi_Agustus = gaji_awal_Dwi_Agustus - (hari_izin_Dwi * gaji_Dwi_perhari)
tunjangan_Dwi =gaji_akhir_Dwi_Agustus * tunjangan_karyawan_5tahun
uang_lembur = lembur_agustus * gaji_lembur_perjam
total_gaji_Dwi = tunjangan_Dwi + uang_lembur + gaji_akhir_Dwi_Agustus

print("Gaji jika tidak masuk 3 hari : Rp" , gaji_akhir_Dwi_Agustus)
print("Jumlah tunjangan yang diterima Dwi : Rp" , tunjangan_Dwi)
print("Total gaji yang diterima Dwi bulan Agustus : Rp" , total_gaji_Dwi)

Gaji jika tidak masuk 3 hari : Rp 4560000
Jumlah tunjangan yang diterima Dwi : Rp 456000.0
Total gaji yang diterima Dwi bulan Agustus : Rp 5066000.0